a{
  text-decoration: none;
  color: black;
}

/*Header*/
.headerPicture{
  overflow: hidden;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border: 4px solid #7cdacc;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.headerPicture img {
  width: 1.5rem;
  fill: currentColor;
}


/*Home*/
.welcome, .warning{
  --text-stroke-color: rgb(0, 0, 0);
  --fs-size: 9em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 4px var(--text-stroke-color);
  text-align: center;
}

.warning{
  font-size: 45px;
  -webkit-text-stroke: 3px rgb(0, 0, 0);
}

/*Posts*/
.postList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    flex-wrap: wrap;
}

.item{
    display: flex;
    width: max-content;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-family: "Arial";
    background: #7cdacc;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
}

.infoPicture{
    width: 250px;
    height: 250px;
}

.infoBlock{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;;
    text-align: center;
}

.title{
    font-weight: 500;
    font-size: 15px;
    margin: 5px;
}

.genre{
    font-size: 13px;
    margin: 7px;
}

.price{
    font-weight: 300;
    font-size: 15px;
}

.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}



/*About*/
.card-client {
  background: #2cb5a0;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #7cdacc;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture img {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #7cdacc;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a img {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}


/*Post*/
.postTitle, .accountTitle{
  --text-stroke-color: rgb(0, 0, 0);
  --fs-size: 2.5em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 4px var(--text-stroke-color);
  text-align: center;
  font-weight: 1000;
}

.postInfo, .accountInfo, .print{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  background: white;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  flex-wrap: wrap;
}

.postImage{
  width: 250px;
  height: 250px;
  margin: 20px;
}

.postText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.postText div{
  margin: 10px;
}

.postDescription{
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  background: white;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  width: 45vw;
  margin: 10px;
}

.postDescription span, .accountOrders span{
  margin-bottom: 10px;
}

.postComments, .accountOrders, .accountBonus{
  max-width: 70vw;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial";
  background: white;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}

/*Account*/

.accountPicture{
  overflow: hidden;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  border: 4px solid #7cdacc;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.accountInfo{
  margin: 10px;
}

.accountInfo div{
  margin: 10px;
}

.accountPicture img {
  width: 3.5rem;
  fill: currentColor;
}

.account button{
  margin: 10px;
}

.accountPassword{
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  background: white;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

.accountPassword input{
  margin: 10px 0 10px 0;
}

.accountBonus{
  margin: 10px;
}

.accountBonus span{
  margin: 10px;
}


/*comments*/
.commentsItem, .orderItem{
  background: rgb(172, 169, 169, .5);
  max-width: 68vw;
  padding: 10px;
  border-radius: 5px;
  min-width: 25vw;
}

.commentsItem .user{
  font-style: italic;
  font-weight: 100;
}


.little{
  font-size: 10px;
}

.commentsItem .description{
  word-wrap: break-word;
  font-size: 20px;
  margin: 10px 0 10px 0;
}

/*orders*/

.orderItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 40vw;
}

.orderItem .description{
  width: 10vw;
  word-wrap: break-word;
}

/*create comment*/

.formCreateComments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(189, 187, 187);
  border-radius: 5px;
  padding: 20px;
}

.formCreateComments textarea{
  width: 500px;
  height: 200px;
  font-family: Arial;
  padding: 5px;
}

.formCreateComments label{
  font-size: 20px;
  font-weight: 700;
}