.footer{
    width: 100vw;
    background: rgba(24, 20, 20, 0.987);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    font-size: 20px;
    font-family: "Arial";
    font-weight: 500;
}

.footer a{
    color: white;
    font-size: 35px;
   
}


.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    color: white;
}

.social_media{
    margin-right:5%;
}