.block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    outline: none;
    border: 2px solid black;
    background: white;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.img{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 5;
}

.block p{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    z-index: 10;
}

.block:hover{
    box-shadow: 2px 2px 2px black;
}