.alert{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: rgb(238, 118, 118, .5);
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.alert svg{
    margin-right: 2%;
}