.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 5px;
    padding: 20px;
    width: 700px;
    position: relative;
    outline: auto;
}

.line{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: auto;
    font-size: 15px;
    font-style: italic;
    margin: 10px;
    border: 2px solid white;
    padding: 7px;
    background: rgb(230, 229, 229);
}
