.background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(39, 37, 37, .7);
    width: 100vw;
    height: 100vh;
    z-index: 500;
    top: 0;
    left: 0;
}

.hide{
    display: none;
}